// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: rgb(85, 80, 80);
  font-family: sans-serif;
  font-size: 36px;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form {
  display: flex;
  border-radius: 15px;
}
.question {
  text-decoration: none;
  border: none;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  padding: 10px; 
  width: 70%;
}

.button {
  text-decoration: none;
  border: none;
  background-color: rgb(108, 108, 212);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  width: 10%;
  color: white;
  font-weight: bold;
}

.display-question {
  font-family: sans-serif;
  padding: 20px;
  border-left: 5px solid #ccc;
  margin: 10px 15px;
}

.display-answer {
  font-family: sans-serif;
  padding: 20px;
  border-left: 5px solid #ccc;
  background-color: rgba(255, 194, 113, 0.3);
  margin: 10px 15px;  
}

h3 {
  margin: 5px; 
  font-weight: lighter; 
}